PORT=3001
MONGO_URI=mongodb+srv://username:password@cluster.mongodb.net/dbname
JWT_SECRET=generate_with_crypto_randomBytes
JWT_REFRESH_SECRET=generate_with_crypto_randomBytes
JWT_EXPIRE=15m
JWT_REFRESH_EXPIRE=7d